<div class="container">
    <div class="row">
      <div class="col">
        <div>
            {{i+1}} {{empleado. nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}}  
            <a [routerLink]="['/actualizar', i]" [queryParams]="{accion:'1'}">
                actualizar
            </a>
            &nbsp;&nbsp;
            <a [routerLink]="['/actualizar', i]" [queryParams]="{accion:'2'}">
              eliminar
          </a>
        </div>
        <div>
            <ul style="list-style: none;">
                <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
            </ul>
            <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
        </div>
      </div>
    </div>
</div>
